<h2 class="text-center">Log In</h2>
<p></p>
<div class="flex justify-center">
  <div class="w-full md:w-1/2 md:mx-auto sm:w-2/3 sm:mx-auto px-4">
    <%= form_tag session_path, id: "session" do |f| %>
      <div class="mb-4">
        <%= email_field_tag :email, nil, placeholder: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= password_field_tag :password, nil, placeholder: "password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="text-right">
        <%= submit_tag 'Log In', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>
</div>
