%h2.text-center= local_time(Time.now, "%a, %b %e %l:%M%P")
= render 'layouts/tab_bar', page: :task_form

= render 'form'

.text-center
  = button_to @task, method: :delete, class: 'btn btn-danger' do
    - fa_icon_with_removed_text('trash', text: 'Delete Task')
  %p
