%h2.text-center.title-non-daily Tasks

- content_for(:discard_tasks, true)
- content_for(:discard_link_middle, @tasks.empty?)

= render 'layouts/tab_bar', discard_tasks: content_for(:discard_tasks), discard_link_middle: content_for(:discard_link_middle)
- if @tasks.empty?
  .row
    .col-md-12.col-sm-12.col-xs-12
      %p.text-center
        You don't have any tasks.#{link_to "Add one!", new_task_path, class: 'btn btn-link'}
- else
  = render @tasks
