- content_for(:title,'Daily Tasks')
- content_for(:discard_add_task_link, false)

- if @tasks.empty?
  .row
    .col-md-4.col-sm-3.col-xs-2
    .col-md-4.col-sm-6.col-xs-8
      %p.text-center
        = link_to "Add one!", new_task_path, class: 'btn btn-link'
    .col-md-4.col-sm-3.col-xs-3
  .row
    .col-md-4.col-sm-3.col-xs-1
    .col-md-4.col-sm-6.col-xs-10
      %p.text-center
        You don't have any tasks.
    .col-md-4.col-sm-3.col-xs-1
- else
  = render 'layouts/tab_bar', discard_add_task_link: content_for(:discard_add_task_link)

  = render @tasks

