- content_for(:title,'Add task')

.row
  .col-md-4.col-sm-3.col-xs-3
  .col-md-4.col-sm-6.col-xs-6
    %p.text-center
      = link_to "Back to tasks", tasks_path, class: 'btn btn-link'
  .col-md-4.col-sm-3.col-xs-3

= render 'form'

