%h2.text-center Edit user

- content_for(:discard_tasks, false)
- content_for(:discard_link_middle, true)

= render 'layouts/tab_bar', discard_tasks: content_for(:discard_tasks), discard_link_middle: content_for(:discard_link_middle)
= render 'form'
