= render 'layouts/page_title', title: 'Sign Up'

.text-center
  = link_to "Log In", login_path, class: 'btn btn-link'
  \ #{link_to "first time?", welcome_guide_path, class: 'btn btn-link'}

= render 'form'

