- if obj.errors.any?
  = content_tag(:div, class: ["alert", "alert-danger", "alert-dismissible"], role: "alert", id: "error-explanation") do
    = content_tag :button, "", class: "btn-close", type: "button", data: { bs_dismiss: "alert" }
    %p= pluralize(obj.errors.count, "error") + " prohibited this user from being saved"
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
