$transparent: rgb(0.0, 0.0, 0.0)
$success: #5cb85c
$primary: #337ab7

body
  :font-family 'Open Sans', Helvetica, Arial, sans-serif

.badge
  background-color: #5cb85c
  border: 0
  border-radius: 0px

.btn-daily, .title-daily
  @include button-variant($success, white, white)

.btn-non-daily, .title-non-daily
  @include button-variant($primary, white, white)

.btn#task-name
  font-weight: bold !important
  padding: 0

%a
  color: #000

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  // .btn
  //   padding: 1px 5px
  //   font-size: 12px
  //   line-height: 1.5
  //   border-radius: 3px
  // p, .form-control
  //   font-size: 12px
  //   line-height: 1.5

  // h2
  //   font-size: 24px
  //   line-height: 1.1

  // // div .text-left:parent
  // //   padding-right: 0

  // // div .text-right:parent
  // //   padding-left: 0

  // .row
  //   margin-right: 0px
  //   margin-left: 0px

  // .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
  //   padding-right: 0px
  //   padding-left: 0px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .text-remover
    display: none

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)