$transparent: rgb(0.0, 0.0, 0.0);
$success: #5cb85c;
$primary: #337ab7;
$default-border: #333333;

body {
  font-family: 'Noto Sans', sans-serif
}

.btn.btn-default {
  border-color: $default-border
}

.btn.btn-link {
  text-decoration: none
}

// /* Custom, iPhone Retina */
// @media only screen and (max-width : 320px)

// /* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px)

// /* Small Devices, Tablets */
// @media only screen and (max-width : 768px)

/* Medium Devices, Desktops */
// @include media-breakpoint-down(lg) {
//   .text-remover {
//     display: none
//   }
// }

// /* Large Devices, Wide Screens */
// @media only screen and (max-width : 1200px)
