// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task
  margin-bottom: 1rem

.action-buttons form
  margin-left: 2px

.overlap
  display: grid

.overlap > *
  grid-column-start: 1
  grid-row-start: 1

// Progress bars with centered text
.bar-text-color-white
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
  color: white
  font-size: 12px

// .badge
//   background-color: #5cb85c
//   border: 0
//   border-radius: 0px

li span.badge a
  color: white

.task-daily
  // @include button-variant($success, white, white)
  color: var(--bs-success)

.task-non-daily
  // @include button-variant($primary, white, white)
  color: var(--bs-primary)

#task-name
  font-weight: bold !important
  padding: 0
