- if flash
  - flash.keys.each do |key|
    = content_tag(:div, class: ["alert", class_name_by_key(key), "alert-dismissible"], role: "alert", id: key) do
      = content_tag :button, "", class: "btn-close", type: "button", aria_label: "Close", data: { bs_dismiss: "alert" }
      = flash[key]
