%p 
  - if current_user
    = link_to "#{current_user.username.capitalize} - Log Out", session_path, method: :delete, class: 'btn btn-link center-block'
  - else
    = link_to 'Register', register_path, class: 'btn btn-link center-block'
