- if current_user
  %p.text-center
    = link_to current_user.username.capitalize, edit_user_path(current_user), class: 'btn btn-non-daily'
    = link_to "Log Out", session_path, method: :delete, class: 'btn btn-non-daily'
Tasks in Touch &copy; 2014
