- if current_user
  .nav.justify-content-center
    .nav-item
      = link_to current_user.username.capitalize, edit_user_path(current_user), class: 'btn'
    .nav-item
      = button_to "Log Out", session_path, method: :delete, class: 'btn'
%hr
Tasks in Touch &copy; 2014
