.row
  .col-md-4.col-sm-4.col-xs-4
  .col-md-4.col-sm-4.col-xs-4
    - unless discard_tasks
      %p.text-center
        = link_to fa_icon('arrow-left', text: 'Back', right: false), tasks_path, class:'btn btn-daily'
    - unless discard_link_middle
      %p.text-center
        = link_to fa_icon_with_removed_text('plus', text: "Add Task", right: false), new_task_path, class: 'btn btn-link'
  .col-md-4.col-sm-4.col-xs-4
